<div>
  <h2>Data API demo</h2>
  <article class="columns is-multiline p-6">
    <div
      class="column is-12-mobile is-4-tablet is-3-desktop"
      *ngFor="let item of data"
    >
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img [src]="item.image" alt="{{ item.name }}" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img [src]="item.image" alt="{{ item.name }}" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{ item.name }}</p>
              <p class="subtitle is-6">{{ item.status }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
